@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
*, html, body, p, a, img, h1, h2, h3, h4, h5, h6, aside, fieldset, input, select, option, label, form, span, strong, figure,section, header, footer{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: nunito !important;
}
section.master {
  width: 100%;
  margin: 0px auto;
}
section.master .content {
  max-width: 1280px;
  margin: 0px auto;
}

header.checkout {
  padding: 15px 0px;
}

header.checkout .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: nunito;
}
header.checkout .content > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.checkout .content > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
header.checkout .content > div > div i {
  margin-right: 5px;
}

.tipbar-navigator {
  position: relative;
  top: -24px;
}
.tipbar-navigator ul.navigator-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
}
.tipbar-navigator ul.navigator-checkout li {
  font-family: nunito;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 5px solid #d0d0d0;
  color: #d0d0d0;
  margin: 0px 0px;
  padding: 5px 12px;
}
.tipbar-navigator ul.navigator-checkout li.active {
    border-color: #eb5f3d;
    color: #eb5f3d;
}

h1#cart-title, h1#orderform-title {
  padding: 12px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 22px;
  color: #000;
  font-family: nunito;
}
@media (max-width: 500px) {
  h1#cart-title, h1#orderform-title {
    text-align: center;
  }
}

tr.item-service {
  background: #f8f8f8;
}

.client-pre-email .btn-success {
  max-width: 105px;
  text-transform: uppercase;
  font-size: 12px;
}

.client-pre-email-h label {
  margin-bottom: 20px;
}
.client-pre-email-h label span {
  font-family: nunito !important;
  color: #a9a39e;
  font-size: 24px;
}

a#orderform-to-cart {
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #a6a09b;
}

a#orderform-minicart-to-cart {
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #a6a09b;
}

.orderform-template-holder {
  font-family: nunito;
}

.step .text label, .step .select label {
  display: block;
  margin: 6px 0px;
}

.step .text input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #d2cfcd;
  border-radius: 0px;
}

.cart {
  border: none;
  margin-bottom: 30px;
  padding: 0px;
  font-family: nunito;
}
.cart td.shipping-date.empty {
  display: none;
}
.cart th.shipping-date {
  display: none;
}
.cart td.product-name a {
  text-decoration: none;
  color: #000;
}
.cart .brand {
  display: none;
}
.cart small.seller.muted {
  display: block;
  font-size: 11px;
  color: #bebebe;
  text-decoration: line-through;
}
.cart thead {
  border-bottom: 1px solid #d2cfcd;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}
.cart .product-image img {
  color: transparent;
  height: 100px;
  max-width: 150px;
  width: 100px;
}
.cart tr.product-item {
  border-bottom: 1px solid #d6d3d1;
}
.cart span.list-price {
  text-decoration: line-through;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}
.cart span.best-price {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.cart .quantity input {
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  border-radius: 0px;
  color: #b0b0b0;
}
.cart td.quantity-price {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.summary-template-holder {
  font-family: nunito;
}
.summary-template-holder .coupon.summary-coupon.pull-right {
  float: left;
  margin: 0px !important;
  text-align: left;
}
.summary-template-holder p.coupon-data.pull-right {
  float: left;
}
.summary-template-holder p.coupon-data.pull-right a {
  text-decoration: underline;
  color: #d6d3d1;
}
.summary-template-holder td.shipping-date {
  display: none;
}

.span5.totalizers.summary-totalizers.cart-totalizers {
  font-size: 13px;
}

.full-cart .summary-totalizers tfoot tr {
  color: #a6a09b;
  font-weight: bold;
}

.clearfix.pull-right.cart-links {
  float: left;
  width: 100%;
}
.clearfix.pull-right.cart-links span.btn-place-order-wrapper {
  display: block;
  max-width: 280px;
  float: right;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .clearfix.pull-right.cart-links span.btn-place-order-wrapper {
    max-width: 100% !important;
  }
}
.clearfix.pull-right.cart-links span.link-choose-more-products-wrapper {
  float: left;
}
.clearfix.pull-right.cart-links span.btn-place-order-wrapper a {
  padding: 13px 0px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: nunito;
  border: none;
}
.clearfix.pull-right.cart-links a#cart-choose-more-products {
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: nunito;
  border: none;
  display: block;
  max-width: 280px;
  width: 100%;
  text-align: center;
  background: #C8CACB;
  color: #fff;
  text-decoration: none;
  display: block;
}
@media (max-width: 500px) {
  .clearfix.pull-right.cart-links a#cart-choose-more-products {
    max-width: 100% !important;
  }
}

section.master.copyright {
  margin-top: 25px;
  padding-bottom: 14px;
}
section.master.copyright .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding-top: 18px;
}
section.master.copyright .content .infos {
  max-width: 500px;
}
section.master.copyright .content .infos p {
  font-family: nunito;
  color: #999999;
  font-size: 11px;
  text-align: justify;
}
section.master.copyright .content .pagamentos h3 {
  font-family: nunito;
  color: #999999;
  font-size: 11px;
  margin-bottom: 6px;
}
section.master.copyright .content .pagamentos ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.master.copyright .content .pagamentos ul li {
  margin-right: 5px;
}

@media (max-width: 500px) {
  .footer-checkout .pagamentos-e-seguranca {
    flex-wrap: wrap;
  }

  ul.parceiros {
    flex-direction: column;
  }

  ul.parceiros li {
    margin: 10px 0px !important;
  }

  span.link-choose-more-products-wrapper {
    width: 100%;
    text-align: center;
  }

  span.btn-place-order-wrapper {
    width: 100%;
  }

  tr.product-item {
    display: flex !important;
    flex-wrap: wrap;
  }

  td.product-image {
    margin: 0px auto;
    width: 85px;
    max-width: 85px;
    position: relative !important;
  }

  td.product-name {
    padding: 0px 0px !important;
    margin: 0px !important;
    text-align: center !important;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
  }

  td.quantity {
    width: 100% !important;
    margin: 10px auto !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  td.product-price {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  header.checkout .content {
    flex-direction: column;
    justify-content: center;
  }

  header.checkout .content > div:last-child {
    padding: 17px 0px;
  }

  ul.navigator-checkout li {
    display: none;
  }

  ul.navigator-checkout li.active {
    display: block;
  }

  ul.navigator-checkout {
    margin-top: 20px;
  }

  section.master.copyright .content {
    box-sizing: border-box;
    padding: 10px !important;
    flex-direction: column;
    display: flex;
  }

  section.master.copyright .content .pagamentos ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  section.master.copyright .content .pagamentos ul li {
    margin: 10px;
  }

  section.master.copyright .content .pagamentos h3 {
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
    width: 100%;
  }

  .box.pagamentos.seguranca {
    width: 100%;
  }

  .full-cart .cart table tbody tr {
    box-sizing: border-box;
    max-width: 96%;
    margin: 0px auto;
    padding: 0px 10px;
  }
}
.btn-success {
  background: #eb5f3d;
  border-radius: 0px;
  width: 100%;
}
.btn-success:hover {
  background: #eb5f3d !important;
}
.btn-success:focus {
    background: #eb5f3d !important;
}
.btn-success:active {
    background: #eb5f3d !important;
}

.clearfix.empty-cart-links a {
  max-width: 200px;
}

.row-fluid.orderform-template.span12.active {
  font-family: nunito !important;
}

td.shipping-date {
  display: none;
}

a.add-service.btn.btn-mini {
  border-radius: 0px;
  background: #000;
  color: #fff !important;
  text-transform: uppercase;
  padding: 6px 14px;
  display: inline-block;
  cursor: pointer;
}

a.add-service.btn.btn-mini span {
  margin-left: 7px;
}

tr.item-service .product-price {
  display: none;
}