.selo-content-pai {
  display: grid;
  grid-template-columns: 28% 72%;
  margin-bottom: 40px;
  padding-top: 130px;
  .selo-content-links {
    padding: 30px 0 0 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .selo-link-garantias {
      align-items: center;
      display: flex;
      font-family: $fonte01;
      font-size: 18px;
      font-weight: 300;
      padding-left: 20px;
      position: relative;
      width: 298px;
      height: 52px;
      background: linear-gradient(111.99deg, #ff5100 0%, #ffb800 100%);
      color: #fff;
    }
    .selo-link-garantias:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent #ffb800;
      position: absolute;
      z-index: 9;
      right: -6px;
      top: 40%;
    }
    .user-box {
      display: flex;
      align-items: center;
      width: 298px;
      margin-bottom: 30px;
      img {
        margin-right: 15px;
      }
      .user-title {
        font-size: 14px;
        font-family: $fonte01;
      }
      .user-subtitle {
        font-family: $fonte01;
        font-weight: 600;
      }
    }
  }
  .selo-content-text {
    padding: 0 50px 30px 30px;
    border-left: 1px solid #f4f4f4;
    margin-top: 30px;
    .selo-buttons {
      .buttons {
        display: grid;
        a {
          font-family: $fonte01;
          border-radius: 30px;
          text-transform: uppercase;
          background: linear-gradient(90.59deg, #ff5100 -0.28%, #ff5100 96.53%);
          color: #000;
          text-decoration: none;
          font-weight: 300;
          height: 40px;
          width: 208px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          border: none;
          cursor: pointer;
        }
        a:hover {
          background: linear-gradient(111.99deg, #ff5100 0%, #ffb800 100%);
        }
      }
    }
  }
}

.selo-garantias {
  margin-top: 50px;
  .sem-garantia {
    display: grid;
    justify-content: center;
    row-gap: 20px;
    margin-top: 150px;
    img {
      margin: 0 auto;
    }
    p {
      font-family: $fonte01;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  .garantias-legenda {
    display: flex;
    align-items: center;
    font-family: $fonte01;
    > p {
      font-size: 12px;
    }
    .legenda-title {
      display: flex;
      align-items: center;
      margin-left: 20px;
      p {
        font-size: 11px;
        color: #979797;
        margin-left: 4px;
      }
    }
  }
  .garantias-conteudo {
    display: grid;
    grid-template-columns: 16px auto;
    align-items: center;
    margin: 5px 0 10px 0;
    .garantia-item {
      display: grid;
      grid-template-columns: 25% 15% 20% 15% 25%;
      row-gap: 15px;
      padding: 10px 0;
    }
    .conteudo-legenda,
    .conteudo-linha,
    .conteudo-tamanho,
    .conteudo-validade,
    .conteudo-status,
    .conteudo-trocar {
      display: flex;
      align-items: center;
    }
    p {
      margin-right: 6px;
      font-size: 12px;
      font-family: $fonte01;
    }
    .conteudo-linha {
      padding-left: 15px;
    }
    .conteudo-status {
      font-size: 12px;
      font-family: $fonte01;
      color: #fff;
      text-transform: uppercase;
      #status-text {
        width: 73px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .aprovado {
        background-color: #647c02;
      }
      .analise {
        background-color: #ffb800;
      }
    }
    .conteudo-trocar {
      justify-content: flex-end;
      margin-right: 15px;
      .trocar-img {
        margin-right: 10px;
        width: 24px;
        height: 20px;
        cursor: pointer;
      }
      .trocar-img.ativo {
        background: url("https://kenner.myvtex.com/arquivos/icon-trocar-selo-laranja.png") no-repeat;
      }
      .trocar-img.desativado {
        background: url("https://kenner.myvtex.com/arquivos/icon-trocar-selo-cinza.png") no-repeat;
      }
      a {
        text-decoration: none;
        outline: none;
        cursor: pointer;
        font-family: $fonte01;
        font-size: 14px;
      }
      a.ativo {
        color: #ff5c00;
      }
      a.desativado {
        color: #c4c4c4;
      }
    }
    .text {
      text-transform: uppercase;
      font-size: 13px;
      font-family: $fonte01;
    }
  }
  .garantias-conteudo.icon-selo {
    border-top: 1px solid #2b89cd;
    border-right: 1px solid #2b89cd;
    .conteudo-legenda {
      background: url("https://kenner.myvtex.com/arquivos/icon-legenda-selo-conteudo.png") no-repeat #2b89cd;
      height: 100%;
      background-position: center;
      border-right: 1px solid #2b89cd;
    }
    .garantia-item {
      border-bottom: 1px solid #2b89cd;
    }
  }
  .garantias-conteudo.icon-nota {
    border-top: 1px solid #cd6f2b;
    border-right: 1px solid #cd6f2b;
    .conteudo-legenda {
      background: url("https://kenner.myvtex.com/arquivos/icon-legenda-nota-conteudo.png") no-repeat #cd6f2b;
      height: 100%;
      background-position: center;
      border-right: 1px solid #cd6f2b;
    }
    .garantia-item {
      border-bottom: 1px solid #cd6f2b;
    }
  }
  .garantias-conteudo.icon-selo.vencido,
  .garantias-conteudo.icon-nota.vencido {
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    .conteudo-legenda {
      border-right: 1px solid #c5c5c5;
    }
    .garantia-item {
      border-bottom: 1px solid #c5c5c5;
      .conteudo-linha,
      .conteudo-tamanho {
        opacity: 0.5;
      }
      .conteudo-validade {
        color: red;
      }
      .conteudo-status,
      .conteudo-trocar {
        display: none;
      }
    }
  }
  .garantias-conteudo.icon-selo.vencido {
    .conteudo-legenda {
      background: url("https://kenner.myvtex.com/arquivos/icon-legenda-selo-conteudo-vencido.png") no-repeat #c5c5c5;
      background-position: center;
    }
  }
  .garantias-conteudo.icon-nota.vencido {
    .conteudo-legenda {
      background: url("https://kenner.myvtex.com/arquivos/icon-legenda-nota-conteudo-vencido.png") no-repeat #c5c5c5;
      background-position: center;
    }
  }
}

@media (max-width: 900px) {
  .selo-content-pai {
    grid-template-columns: 100%;
    .selo-content-links {
      padding: 30px 0 0 0;
      align-items: initial;
      .selo-link-garantias {
        width: 100%;
      }
      .selo-link-garantias:after {
        content: unset;
      }
    }
  }
  .selo-garantias {
    .sem-garantia {
      margin-top: 100px;
    }
    .garantias-conteudo {
      .garantia-itens {
        .garantia-item {
          grid-template-columns: 33% 33% 34%;
          grid-template-areas:
            "a b c"
            "d e e";
          height: 100%;
          .conteudo-linha {
            grid-area: a;
            padding: 10px 0 0 10px;
            flex-direction: column;
            align-items: flex-start;
          }
          .conteudo-tamanho {
            grid-area: b;
            padding: 10px 0 0 10px;
            flex-direction: column;
            align-items: flex-start;
          }
          .conteudo-validade {
            grid-area: c;
            padding: 10px 0 0 10px;
            flex-direction: column;
            align-items: flex-start;
          }
          .conteudo-status {
            grid-area: d;
            padding: 15px 0 10px 10px;
            flex-direction: column;
            align-items: flex-start;
          }
          .conteudo-trocar {
            grid-area: e;
            padding: 10px 0 0 10px;
          }
        }
      }
    }
  }
}
