@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");
*,
img,
h1,
h2,
h3,
h4,
h5 fieldset,
label,
select,
a,
form,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}
a,
div {
  transition: ease-in-out all 0.4s;
}

section.master {
  margin: 0px auto;
  width: 100%;
  .content {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    .conteudo {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.passo-um-form,
.passo-dois-form {
  .cliente {
    text-align: center;
    h1 {
      margin-bottom: 2px;
    }
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
    .controles {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .controles div {
      background: #ff5100;
      border-radius: 30px;
      color: #222;
      font-size: 18px;
      padding: 8px 52px;
      margin: 0px 10px;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        color: #fff;
      }
    }
  }
}

.passo-dois-form {
  input#selo_number {
    height: 40px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
  }
}

.falta-informacao .swal2-show {
  background: rgba(0, 0, 0, 0.8);
  h2#swal2-title {
    color: #fff !important;
  }
  div#swal2-content {
    color: #fff;
  }
}

.fique-ligado .swal2-show,
.selo-incorreto .swal2-show {
  background: rgba(0, 0, 0, 0.8);
  padding: 70px 20px;
  h2#swal2-title {
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
  }
  div#swal2-content {
    color: #fff;
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140.54%;
    /* or 20px */
    text-align: center;
    margin-top: 16px;
  }
  ul {
    list-style: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 14px;
    line-height: 140.54%;
  }
  .box {
    padding: 10px;
    text-align: justify;
  }
  .box.bubble {
    background: #fff;
    color: #000;
    border-radius: 100px;
    padding: 0px 6px;
    line-height: 19px;
    text-align: center;
    height: 18px;
    margin-top: 8px;
  }
  button.swal2-close {
    color: #ff5722 !important;
  }
  .leia-regulamento {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140.54%;
    text-align: center;
    margin-top: 16px;
    color: #ff5722;
    a {
      color: #ff5722;
      text-decoration: none;
    }
  }

  .leia-regulamento img {
    margin-right: 14px;
  }

  .swal2-styled.swal2-confirm {
    background: #ff5722 !important;
    font-weight: 300 !important;
    border-radius: 30px !important;
    padding: 12px 90px;
    border: 1px solid #ff5722 !important;
    box-shadow: none !important;
    border-color: transparent !important;
    &:hover,
    &:active {
      border: 1px solid #ff5722 !important;
    }
  }
}

.formulario-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  form#form-compra {
    margin-top: 30px;
    max-width: 800px;
  }

  .line {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .line .box {
    max-width: 50%;
    width: 100%;
  }

  .line .box label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contexto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: 5px;
  }

  .contexto .box {
    width: inherit;
    margin-right: 9px;
    font-size: 13px;
  }

  .contexto .box a {
    text-decoration: none;
    color: #ff5722;
  }

  .line .box label input {
    width: 90%;
    height: 46px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 20px;
  }

  .line .box label span {
    display: block;
    margin-bottom: 5px;
  }
  .line.line-esquerda {
    justify-content: flex-start !important;
  }

  .line.line-esquerda .box {
    max-width: 50%;
    input {
      max-width: 35%;
    }
  }
  .line.line-pecas {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .line.line-pecas .modelo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 1px;
    background: #f4f4f4;
    padding: 20px;
    border-top: 1px solid #dedede;
  }

  .modelo span {
    display: block;
    min-width: 120px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  .modelo .linha {
    width: 100%;
    display: flex;
  }

  .box span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
  }

  .modelo select {
    width: 90%;
    height: 48px;
    border-radius: 30px;
    font-size: 15px;
    -webkit-appearance: searchfield;
    padding: 0px 15px;
    border-color: #b3b1b1;
    background-image: url(https://kenner.vteximg.com.br/arquivos/Frame.png);
    background-position: 305px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .line.line-pecas .modelo:first-child {
    border: none;
  }
}

.linha.linha-arquivos {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
  }
  .anexo {
    display: inline-block;
    border: 1px solid #ff5722;
    padding: 12px 100px;
    border-radius: 30px;
    color: #ff5722;
    margin-top: 10px;
    cursor: pointer;
  }
  .linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .enviar-form {
    background: #ff5722;
    padding: 15px 70px;
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover,
    &:active {
      color: #fff;
    }
  }
  .anexo img {
    margin-right: 14px;
  }
}

section.master.passo-quatro-form,
section.master.passo-cinco-form {
  .conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      line-height: 24px;
    }
    h1 {
      margin: 20px 0px;
    }
    .fale-conosco {
      margin-top: 40px;
    }

    .fale-conosco a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #ff5722;
    }

    .fale-conosco a img {
      margin-right: 12px;
    }

    .ver-garantias a {
      background: #ff5722;
      text-decoration: none;
      color: #222;
      padding: 13px 50px;
      display: block;
      margin-top: 20px;
      border-radius: 30px;
      text-transform: uppercase;
    }
  }
}

section.master.passo-dados-form {
  .linha-form .box input[type="text"] {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    height: 50px;
    min-width: 300px;
    padding-left: 15px;
    font-size: 15px;
  }
  .linha-form .box input[type="date"] {
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    height: 50px;
    padding-left: 15px;
    min-width: 300px;
    font-size: 15px;
  }

  .linha-form {
    display: flex;
    width: 100%;
  }

  .linha-form .box {
    width: 100%;
    margin: 0px 20px;
  }

  .linha-form .box label {
    display: flex;
    flex-direction: column;
  }

  .linha-form .box label span {
    display: block;
    margin: 7px 0px;
  }

  .conteudo {
    flex-direction: column;
  }

  .linha-form .box label > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
  }

  .linha-form .box label > div label {
    margin-right: 15px;
  }

  .textos {
    text-align: center;
  }

  .cadastrar-novo-usuario {
    background: #ff5722;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 55px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .cadastrar-novo-usuario:hover {
    color: #fff;
  }
}

section.master.passo-dados-form .linha-form .box {
  display: flex;
  input#ddd_telefone {
    max-width: 80px !important;
    min-width: 80px !important;
  }

  input#telefone {
    min-width: 220px;
  }
  input#ddd_celular {
    max-width: 80px !important;
    min-width: 80px !important;
  }
  input#logradouro {
    max-width: 220px;
    min-width: 220px;
  }

  input#numero {
    min-width: 80px;
    max-width: 80px;
  }
  input#celular {
    min-width: 220px;
  }
}
