.selo-banner {
  display: flex;
  justify-content: center;
  padding: 130px 0 25px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://kenner.myvtex.com/arquivos/bg-selo.png");
  img {
    height: 150px;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    outline: none;
  }
}

.selo-banner-text {
  box-shadow: 0 -19px 38px 32px #161616;
  background-color: #161616;
  p {
    font-family: $fonte01;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin: 0 20px;
  }
}

.selo-banner-buttons {
  background-color: #161616;
  .buttons {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    justify-content: center;
    column-gap: 25px;
    padding: 50px 0;
    a {
      font-family: $fonte01;
      border-radius: 30px;
      text-transform: uppercase;
      background: linear-gradient(90.59deg, #ff5100 -0.28%, #ff5100 96.53%);
      color: #000;
      text-decoration: none;
      font-weight: 300;
      height: 40px;
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }
    a:hover {
      background: linear-gradient(111.99deg, #ff5100 0%, #ffb800 100%);
    }
  }
}

.selo-content {
  display: grid;
  grid-template-columns: 28% 44% 28%;
  margin-bottom: 40px;
  .selo-content-links {
    padding: 30px 0 0 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .selo-link {
      align-items: center;
      display: flex;
      font-family: $fonte01;
      font-size: 18px;
      font-weight: 300;
      padding-left: 20px;
      position: relative;
      width: 298px;
      height: 52px;
      color: #ff5100;
      cursor: pointer;
    }
    .selo-link.ativo {
      background: linear-gradient(111.99deg, #ff5100 0%, #ffb800 100%);
      color: #fff;
    }
    .selo-link.ativo:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent #ffb800;
      position: absolute;
      z-index: 9;
      right: -6px;
      top: 40%;
    }
  }
  .selo-content-text {
    padding: 0 50px 30px 30px;
    border-left: 1px solid #f4f4f4;
    margin-top: 30px;
    .selo-text-box {
      min-height: 50px;
      border-bottom: 1px solid #f4f4f4f4;
      cursor: pointer;
      i.fas.fa-chevron-down,
      i.fas.fa-chevron-up {
        color: #ff5100;
        opacity: 0.6;
        display: none;
      }
      i.fas.fa-chevron-down.ativo,
      i.fas.fa-chevron-up.ativo {
        display: block;
      }
      .selo-text-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $fonte01;
        font-weight: 400;
        font-size: 14px;
        height: 40px;
        line-height: 17px;
        color: #000000;
      }
      .selo-text-subtitle {
        display: none;
        font-family: $fonte01;
        font-size: 13px;
        line-height: 21px;
        color: #7d7d7d;
        margin: 0 0 20px 0;
        a {
          color: #ff5c00;
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

.selo-text-content {
  display: none;
}

.selo-text-content.ativo {
  display: block;
}

.selo-content-duvida {
  padding-top: 40px;
  font-family: $fonte01;
  width: 289px;
  .duvida-title p {
    font-size: 14px;
    margin: 20px 0;
  }
  .duvida-fale-conosco {
    display: flex;
    align-items: center;
    a {
      font-size: 14px;
      text-decoration: none;
      outline: none;
      color: #ff5100;
      margin-left: 5px;
    }
  }
}

@media (max-width: 900px) { 
  .selo-banner-buttons {
    background-color: #161616;
    .buttons {
      grid-template-columns: auto;
      row-gap: 25px;
    }
  }
  .selo-content {
    grid-template-columns: 100%;
    .selo-content-links {
      padding: 0;
      align-items: unset;
      .selo-link {
        width: 100%;
      }
      .selo-link.ativo:after {
        content: unset;
      }
    }
  }
  .selo-content-duvida {
    width: 100%;
    padding: 40px 20px 0 20px;
    text-align: center;
    .duvida-fale-conosco {
      justify-content: center;
    }
  }
}
